$color-background: #5CDB95;
$color-titles: #EDF5E1;
$color-text: #05386B;
$color-dark-green: #379683;
$color-light-green: #8ee4AF;

.color-background {
  background-color: $color-background
}

.color-main-text {
  color: $color-titles
}

.color-text {
  color: $color-text
}